@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  #page-description-section .container {
    flex-wrap: wrap;
  }
  #page-description-section .container .text-area {
    max-width: 100%;
  }
  #page-description-section .container .image-montage {
    max-width: 100%;
    height: 100%;
  }
}
.white-bckground {
  background: white !important;
}

body {
  font-family: Roboto;
}

main {
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  padding: 0px 15px 0px 15px;
}

a {
  color: black;
}

h1 {
  font-weight: 800;
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

p {
  color: black;
  font-size: 1.5rem;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  #page-description-section .container {
    flex-wrap: wrap;
  }
  #page-description-section .container .text-area {
    max-width: 100%;
  }
  #page-description-section .container .image-montage {
    max-width: 100%;
    height: 100%;
  }
}
header {
  font-weight: 500;
}

.inner {
  padding: 20px 0px 20px 0px;
}

.container {
  margin: auto;
}

.logo {
  width: 220px;
}

.nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  list-style: none;
}

a {
  text-decoration: none;
}

.drop_menu {
  position: relative;
}

.service_item {
  padding-bottom: 70px;
}

.drop_down {
  display: none;
  position: absolute;
  top: 200%;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  z-index: 307;
  list-style: none;
  line-height: 35px;
  background-color: orange;
}

.container .drop_menu:hover .drop_down {
  display: block;
}

.nav_item:hover {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  background-color: #fff;
}

.menu {
  display: none;
  text-align: center;
  width: 35px;
  padding: 2px;
  font-size: 10px;
  border-radius: 5px;
  background-color: orange;
}

.hamburger {
  font-size: 20px;
}

.contact_tele {
  display: flex;
  padding: 4px 8px 4px 8px;
  align-items: center;
  border-radius: 5px;
  background-color: orange;
}
.contact_tele:hover {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  background-color: #fff;
  border: 1px solid orange;
}
.contact_tele:hover .tele_icon {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  background-color: orange;
  color: #fff;
}

.tele_icon {
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
  color: orange;
  background-color: #fff;
}

@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  #page-description-section .container {
    flex-wrap: wrap;
  }
  #page-description-section .container .text-area {
    max-width: 100%;
  }
  #page-description-section .container .image-montage {
    max-width: 100%;
    height: 100%;
  }
}
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 72vh;
  overflow: hidden;
}
.banner .slick-track {
  height: 100vh;
}
.banner .slick-arrow {
  width: 150px;
  height: 150px;
  z-index: 900;
}
.banner .slick-next {
  right: 90px;
  top: 350px;
}
.banner .slick-prev {
  left: 90px;
  top: 350px;
}
.banner .slick-prev:before {
  color: black;
  content: "<";
  font-size: 8rem;
}
.banner .slick-next:before {
  color: black;
  content: ">";
  font-size: 8rem;
}
@media only screen and (max-width: 1345px) {
  .banner .slick-arrow {
    display: none !important;
  }
}
@media only screen and (max-width: 1580px) {
  .banner .slick-next {
    right: -25px;
  }
  .banner .slick-prev {
    left: -25px;
  }
}

.construction {
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.construction-bck1 {
  background-image: url("/assets/images/christopher-burns-8KfCR12oeUM-unsplash.jpg");
}

.construction-bck2 {
  background-image: url("/assets/images/Housing-Home-Neighborhood-Construction-Intelligence-Header-Alt-02.jpg");
}

.construction-bck3 {
  background-image: url("/assets/images/mark-potterton-sNVkn3507Oo-unsplash.jpg");
}

.construction-bck4 {
  background-image: url("/assets/images/scott-blake-x-ghf9LjrVg-unsplash.jpg");
}

.content_container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 305;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 102%;
  border: 350px solid transparent;
  border-left: 280px solid white;
  z-index: 300;
}

.overlay {
  content: "";
  position: absolute;
  width: 32%;
  height: 100vh;
  border-right: 11px solid white;
  background-color: orange;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.overlay:before {
  content: "";
  position: absolute;
  left: 102%;
  border-left: 280px solid white;
  border-top: 350px solid transparent;
  border-bottom: 350px solid transparent;
  z-index: 50;
}

.overlay:after {
  content: "";
  position: absolute;
  left: 100%;
  border-left: 280px solid orange;
  border-top: 350px solid transparent;
  border-bottom: 350px solid transparent;
  z-index: 302;
}

.text-box {
  padding: 0px 30px 0px 30px;
  z-index: 100;
}

.headline {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: xxx-large;
  text-transform: uppercase;
  color: #fff;
}

.headline::after {
  content: "";
  display: block;
  margin-top: 20px;
  width: 390px;
  height: 3px;
  background-color: #fff;
}

.banner-text {
  font-size: large;
  color: #fff;
}

.reliable {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.contact_me {
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: inherit;
  background-color: #fff;
  margin-top: 5px;
  padding: 15px 45px;
}
.contact_me:hover {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  background-color: #bfbfbf;
}

@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  #page-description-section .container {
    flex-wrap: wrap;
  }
  #page-description-section .container .text-area {
    max-width: 100%;
  }
  #page-description-section .container .image-montage {
    max-width: 100%;
    height: 100%;
  }
}
.footer_top {
  background-color: #1B1F22;
}

.contact_text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.details {
  margin: 0px 0px 0px 0px;
  display: flex;
  font-size: large;
  color: #fff;
}

.end_btn {
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: inherit;
  background-color: #fff;
  padding: 15px 60px;
  border: 2px solid orange;
}
.end_btn:hover {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  background-color: #bfbfbf;
}

.footer_middle {
  background-color: orange;
}

.footer_columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer_links {
  list-style: none;
  line-height: 22px;
  padding-left: 0px;
}

.arrow {
  margin-right: 10px;
  color: #fff;
}

.media_item {
  font-size: 12px;
  margin-bottom: 8px;
}

.social_media {
  display: flex;
  gap: 10px;
  color: #fff;
}

.soc_name {
  color: black;
}

.soc_icon::before {
  font-size: 18px;
  margin-right: 5px;
}

.email_enter {
  display: flex;
  font-family: inherit;
}

.subscribe_heading {
  margin: 12px 0px 12px 0px;
}

.subscribe {
  padding: 4px;
  border-style: none;
  border-radius: 3px;
  font-family: inherit;
}

.submit {
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  border-style: none;
  font-family: inherit;
  background-color: black;
  color: white;
}
.submit:hover {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  background-color: grey;
}

.end_footer {
  background-color: #1B1F22;
}

.copyright_text {
  display: flex;
  justify-content: center;
  color: #fff;
}

#page-description-section .container {
  display: flex;
}
#page-description-section .text-area {
  max-width: 50%;
  margin-right: 40px;
  margin-top: 40px;
}
#page-description-section .text-area h1 {
  font-weight: 300;
  font-size: 40px;
  color: black;
}
#page-description-section .text-area img {
  max-width: 100%;
  height: auto;
}
#page-description-section .text-area span {
  width: 60%;
  height: 2px;
  background-color: #555555;
  display: block;
}
#page-description-section .text-area p {
  margin-top: 40px;
  color: #555555;
}
#page-description-section .image-montage {
  border-style: solid;
  border-width: 15px;
  border-color: orange;
  max-width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
  margin-top: 40px;
}
#page-description-section .image-montage img:first-child {
  max-width: 100%;
}
#page-description-section .image-montage img {
  max-width: 50%;
}
#page-description-section .image-montage img:last-child {
  max-width: 50%;
}
#page-description-section .partners-carousel-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
#page-description-section .partners-carousel-container .slick-arrow {
  width: 150px;
  height: 150px;
}
#page-description-section .partners-carousel-container .slick-next {
  right: -200px;
}
#page-description-section .partners-carousel-container .slick-prev {
  left: -200px;
}
#page-description-section .partners-carousel-container .slick-prev:before {
  color: black;
  content: "<";
  font-size: 8rem;
}
#page-description-section .partners-carousel-container .slick-next:before {
  color: black;
  content: ">";
  font-size: 8rem;
}
#page-description-section .partners-carousel-container h2 {
  color: black;
  font-size: 2rem;
}
#page-description-section .partners-carousel-container span {
  width: 15%;
  height: 2px;
  background-color: #555555;
  display: block;
}
#page-description-section .partners-carousel-container .partner-carousel-inner {
  margin-left: auto;
  margin-right: auto;
}
#page-description-section .partners-carousel-container .partner-carousel-inner img {
  max-height: 150px;
  max-width: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 76px;
  padding-left: 76px;
}

#page-services-section {
  background-color: orange;
  padding-bottom: 40px;
}
#page-services-section .top-text {
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
}
@media screen and (max-width: 992px) {
  #page-services-section .top-text {
    flex-wrap: wrap;
    padding-left: 40px;
    padding-bottom: 0;
  }
}
#page-services-section .top-text h2 {
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  #page-services-section .top-text h2 {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}
#page-services-section .top-text h2 span {
  width: 70%;
  height: 2px;
  background-color: white;
  display: block;
}
#page-services-section .top-text p {
  display: inline-block;
  color: white;
  max-width: 75%;
  font-weight: 300;
}
#page-services-section .tile-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 992px) {
  #page-services-section .tile-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.anti-margins {
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  #page-description-section .container {
    flex-wrap: wrap;
  }
  #page-description-section .container .text-area {
    max-width: 100%;
  }
  #page-description-section .container .image-montage {
    max-width: 100%;
    height: 100%;
  }
}
.testimonial_heading {
  line-height: 1.5;
  margin-top: 10px;
  font-weight: 300;
  font-size: 40px;
  color: black;
}

.testimonial_heading:after {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  background-color: black;
}

.quote_left {
  font-size: 25px;
}

.quote {
  margin: 5px;
  font-weight: 300;
  letter-spacing: 0.8px;
  font-size: 25px;
}

.end_quote {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.8px;
}

.page-section {
  max-width: 100%;
  background-color: orange;
}
.page-section .container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 992px) {
  .page-section .container {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}
.page-section .image-container {
  max-width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 1200px) {
  .page-section .image-container {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .page-section .image-container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0;
  }
}
.page-section .image-container .main-image {
  max-width: 100%;
}
.page-section .text-area {
  padding-bottom: 40px;
  padding-top: 40px;
}
.page-section .text-area h1 {
  font-weight: 300;
  font-size: 40px;
  color: #2e2e2e;
}
.page-section .text-area p {
  color: #2e2e2e;
}

.p-specific {
  padding-right: 40px;
}

.text-white {
  color: rgba(255, 255, 255, 0.966) !important;
}

.tile {
  width: 33.3333333333%;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .tile {
    width: 80%;
    margin-top: 50px;
  }
}
.tile .image-container {
  margin-bottom: -4px;
  min-height: 250px;
}
.tile .image-container div {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: cover;
}
.tile .icon-container-outer {
  position: relative;
}
.tile .icon-container-outer .icon-container-inner {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  text-align: center;
  background-color: #101721;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tile .icon-container-outer .icon-container-inner i {
  padding-top: 20px;
  color: white;
}
.tile .description-area {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 60px;
  background-color: white;
}
.tile .description-area h3 {
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}
.tile .description-area p {
  padding-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
}

.tile-image-1 {
  background-image: url(/assets/images/architecture-1216049-1919x1278.jpg);
}

.tile-image-2 {
  background-image: url(/assets/images/christopher-burns-8KfCR12oeUM-unsplash.jpg);
}

.tile-image-3 {
  background-image: url(/assets/images/HardWorkingMan.jpg_fit=scale);
}

.contact-header h1 {
  text-align: center;
  padding-top: 50px;
}
@media screen and (max-width: 992px) {
  .contact-header h1 {
    font-size: 2rem;
  }
}
.contact-header span {
  height: 2px;
  background-color: #1B1F22;
  display: block;
  width: 22%;
  margin-left: auto;
  margin-right: auto;
}

#contact-form {
  background-color: white;
  padding: 40px;
  border: #1B1F22;
  border-width: 2px;
  border-style: solid;
  margin: 50px;
}
@media screen and (max-width: 992px) {
  #contact-form {
    width: 100%;
  }
}
#contact-form input[type=text], #contact-form input[type=email], #contact-form input[type=number],
#contact-form select,
#contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none !important;
  border-width: 2px;
}
#contact-form input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
}
#contact-form input[type=submit]:hover {
  background-color: #45a049;
}
#contact-form .gdpr-container {
  padding-top: 40px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 992px) {
  #contact-form .gdpr-container {
    display: block;
    text-align: right;
  }
}
#contact-form #recaptcha {
  background-color: white;
  display: inline-block;
  width: 140px;
  height: 140px;
  text-align: center;
  border: 4mm solid #ff7b00;
  margin-left: 55%;
  position: relative;
  top: -100px;
}
@media screen and (max-width: 992px) {
  #contact-form #recaptcha {
    display: block;
    top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
#contact-form #mapid {
  width: 600px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 992px) {
  #contact-form #mapid {
    width: 100%;
  }
}

.contact-container {
  max-width: 1600px;
}
@media screen and (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}

#bad-input {
  color: red;
}

#good-input {
  color: #04AA6D;
}

.hidden-default {
  display: none;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 38px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width: 992px) {
  .control {
    width: 50%;
  }
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 24px;
  width: 26px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background-color: #0e6647;
}

.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 10px;
  top: 4px;
  width: 4px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.control-checkbox input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}
/*# sourceMappingURL=main.css.map */
