@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
body {
  font-family: Roboto;
}

main {
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  padding: 0px 15px 0px 15px;
}

a {
  color: black;
}

@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
header {
  font-weight: 500;
}

.inner {
  padding: 20px 0px 20px 0px;
}

.container {
  margin: auto;
}

.logo {
  width: 220px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  list-style: none;
}

a {
  text-decoration: none;
}

.drop_menu {
  display: none;
  position: absolute;
  top: 10%;
  left: 42%;
  z-index: 307;
}

.drop_down {
  list-style: none;
  padding: 0px 5px 0px 5px;
  line-height: 25px;
  margin: 10px;
}

.item_service:hover .drop_menu {
  display: block;
}

.menu {
  display: none;
  text-align: center;
  width: 35px;
  padding: 2px;
  font-size: 10px;
  border-radius: 5px;
  background-color: orange;
}

.hamburger {
  font-size: 20px;
}

.contact_tele {
  display: flex;
  padding: 4px 8px 4px 8px;
  align-items: center;
  border-radius: 5px;
  background-color: orange;
}
.contact_tele:hover {
  background-color: #fff;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  border: 1px solid orange;
}
.contact_tele:hover .tele_icon {
  background-color: orange;
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
  color: #fff;
}

.tele_icon {
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
  color: orange;
  background-color: #fff;
}

@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 700px;
}

.construction {
  height: 100vh;
  display: flex;
  background-image: url("../assets/images/Housing-Home-Neighborhood-Construction-Intelligence-Header-Alt-02.jpg");
}

.content_container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 305;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 102%;
  border: 350px solid transparent;
  border-left: 280px solid white;
  z-index: 300;
}

.overlay {
  content: "";
  position: absolute;
  width: 32%;
  height: 100vh;
  border-right: 11px solid white;
  background-color: orange;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.overlay:after {
  content: "";
  position: absolute;
  left: 100%;
  border-left: 280px solid orange;
  border-top: 350px solid transparent;
  border-bottom: 350px solid transparent;
  z-index: 302;
}

.text-box {
  margin-bottom: 100px;
  padding: 0px 30px 0px 30px;
}

.headline {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: xxx-large;
  text-transform: uppercase;
  color: #fff;
}

.headline::after {
  content: "";
  display: block;
  margin-top: 20px;
  width: 390px;
  height: 3px;
  background-color: #fff;
}

.banner-text {
  font-size: large;
  color: #fff;
}

.reliable {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.contact_me {
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: inherit;
  background-color: #fff;
  margin-top: 5px;
  padding: 15px 45px;
}

@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}
@media (max-width: 991px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .nav_list {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .overlay:after {
    border-left: 380px solid orange !important;
  }
}
@media (max-width: 991px) {
  .overlay {
    border-right: 6px solid white;
  }
}
@media (min-width: 1760px) {
  .overlay {
    border-right: 14px solid white;
  }
}
@media (max-width: 768px) {
  .overlay:before {
    border-left: 385px solid white !important;
  }
}
@media (max-width: 768px) {
  .content_container {
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .br_lg {
    display: none;
  }
}
@media (max-width: 992px) {
  .end_btn {
    margin-top: 10px;
  }
}
.footer_top {
  background-color: black;
}

.contact_text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.details {
  margin: 0px 0px 0px 0px;
  display: flex;
  font-size: large;
  color: #fff;
}

.end_btn {
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.25rem;
  font-family: inherit;
  background-color: #fff;
  padding: 15px 60px;
  border: 2px solid orange;
}

.footer_middle {
  background-color: orange;
}

.footer_columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer_links {
  list-style: none;
  line-height: 22px;
  padding-left: 0px;
}

.arrow {
  margin-right: 10px;
  color: #fff;
}

.media_item {
  font-size: 12px;
  margin-bottom: 8px;
}

.social_media {
  display: flex;
  gap: 10px;
  color: #fff;
}

.soc_name {
  color: black;
}

.soc_icon::before {
  font-size: 18px;
  margin-right: 5px;
}

.email_enter {
  display: flex;
  font-family: inherit;
}

.subscribe_heading {
  margin: 12px 0px 12px 0px;
}

.subscribe {
  padding: 4px;
  border-style: none;
  border-radius: 3px;
  font-family: inherit;
}

.submit {
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  border-style: none;
  font-family: inherit;
  background-color: black;
  color: white;
}

.end_footer {
  background-color: black;
}

.copyright_text {
  display: flex;
  justify-content: center;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
