// base

body {
  font-family: Roboto;
}

main {
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  padding: 0px 15px 0px 15px;
}


h1 {
  font-weight: 800;
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

p {
  color: black;
  font-size: 1.5rem;  
}