//media query syntax
@import '../1-helpers/varibles';

// Conatiner width
@media (min-width: 768px) {
  .container, .text-box {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container, .text-box {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container, .text-box {
    width: 1170px;
  }
}

// Responsive header content
@media (max-width: 768px) {
  .menu {
    display: inline-block !important;
    position: absolute;
    right: 35%;
  }
}

@media (max-width: 768px) {
  .nav_list {
    display: none !important;
  }
}

// Banner Responsive

@media (max-width: 768px) {
.overlay:after {
  border-left: 440px solid orange !important;
  }
}
