// This should contain only varible declarations
// (A reminder than css and sass both have their own varibles that behave very differently)


// *****************
// Colours
// *****************

$white-text: #fff;


// *****************
// Font related
// *****************

// Font weights
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// font stacks
// @font-face {
//     // This is parsed as a normal function call that takes a quoted string.
//     src: url("#{$roboto-font-path}/Roboto-Thin.woff2") format("woff2");
//     font-family: "Roboto";
//     font-weight: 100;
// }


// *****************
// Maps
// *****************

// Sass map media queries varibles
$breakpoints: (
    "phablet":      576px,
    "tablet":       768px,
    "desktop":      992px,
    "desktop-wide": 1200px,
    "beyond-wide":  1400px
);

// *****************
// Container sizes
// *****************

// For consistency on the margins
$common-site-width:1200px;
