// top footer
@import '../1-helpers/varibles',
        '../1-helpers/media',
        '../1-helpers/mixins';


.footer_top {
  background-color: #1B1F22;
}

.contact_text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.details {
  margin: 0px 0px 0px 0px;
  display: flex;
  font-size: large;
  color: $white-text;
}

.end_btn {
  @include btn-lg;
  padding: 15px 60px;
  border: 2px solid orange;
  &:hover {
    @include transition-link;
    background-color: $white-hover;
  }
}

//  middle footer
.footer_middle {
  background-color: orange;
}

.footer_columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer_links {
  list-style: none;
  line-height: 22px;
  padding-left: 0px;
}

.arrow {
  margin-right: 10px;
  color: $white-text;
}

.media_item {
  font-size: 12px;
  margin-bottom: 8px;
}

.social_media {
  display: flex;
  gap: 10px;
  color: $white-text;
}

.soc_name {
  color: black;
}

.soc_icon::before {
  font-size: 18px;
  margin-right: 5px;
}

.email_enter {
  display: flex;
  font-family: inherit;
}

.subscribe_heading {
  margin: 12px 0px 12px 0px;
}

.subscribe {
  padding: 4px;
  border-style: none;
  border-radius: 3px;
  font-family: inherit;
}

.submit {
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
  border-style: none;
  font-family: inherit;
  background-color: black;
  color: white;
  &:hover {
    @include transition-link;
    background-color: grey;
  }
}

//end footer
.end_footer {
  background-color: #1B1F22;
}

.copyright_text {
  display: flex;
  justify-content: center;
  color: $white-text;
}
