// top footer
@import '../1-helpers/varibles',
        '../1-helpers/media',
        '../1-helpers/mixins';

.footer_top {
  background-color: #565656;
}

.contact_text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.details {
  margin: 0px 0px 0px 0px;
  display: flex;
  font-size: large;
  color: $white-text;
}

.end_btn {
  @include btn-lg;
  padding: 15px 60px;
  border: 2px solid orange;
}

//  middle footer
.footer_middle {
  background-color: orange;
}

.footer_columns {
  display: flex;
  justify-content: space-between;
}

.footer_links {
  list-style: none;
}

.media_item {
  font-size: 12px;
  margin-bottom: 8px;
}

.social_media {
  display: flex;
  gap: 10px;
}

.soc_icon::before {
  font-size: 18px;
  margin-right: 5px;
}

.subscribe {
  border-radius: 3px;
}
