// header
@import '../1-helpers/varibles',
        '../1-helpers/media',
        '../1-helpers/mixins';

header {
  font-weight: 500;
}

.inner {
  padding: 20px 0px 20px 0px;
}

.container {
  margin: auto;
}

.logo {
  width: 220px;
}

.nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  list-style: none;
}

a {
  text-decoration: none;
}

.drop_menu {
  position: relative;
}

.service_item {
  padding-bottom: 70px;
}

.drop_down {
  display: none;
  position: absolute;
  top: 200%;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  z-index: 307;
  list-style: none;
  line-height: 35px;
  background-color: orange;
}

.container .drop_menu:hover .drop_down {
  display: block;
}

.nav_item:hover {
  @include transition-link;
  background-color: $white-text;
}

.menu {
  display: none;
  text-align: center;
  width: 35px;
  padding: 2px;
  font-size: 10px;
  border-radius: 5px;
  background-color: orange;
}

.hamburger {
  font-size: 20px;
}

.contact_tele {
  display: flex;
  padding: 4px 8px 4px 8px;
  align-items: center;
  border-radius: 5px;
  background-color: orange;
  &:hover {
    @include transition-link;
    background-color: #fff;
    border: 1px solid orange;
  }
  &:hover .tele_icon {
    @include transition-link;
    background-color: orange;
    color: #fff;
  }
}

.tele_icon {
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
  color: orange;
  background-color: #fff;
}
