// header

@import '../1-helpers/varibles',
        '../1-helpers/media';

.inner {
  padding: 20px 0px 20px 0px;
}

.container {
  margin: auto;
}

.logo {
  width: 220px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  list-style: none;
}


a {
  text-decoration: none;
  margin-right: 10px;
}

.contact_tele {
  display: flex;
  align-items: center;
  background-color: orange;
  &:hover .tele_icon {
    color: #fff;
    background-color: orange;
  }
}

.tele_icon {
  border-radius: 50%;
  background-color: #fff;
}
