



#page-services-section {
    background-color: orange;
    padding-bottom: 40px;

    .top-text {
        padding-bottom: 40px;
        padding-top: 40px;
        display: flex;

        @media screen and (max-width:992px) {
            flex-wrap: wrap;
            padding-left: 40px;
            padding-bottom: 0;
        }
        
        h2 {
            display: inline-block;
            font-size: 2.5rem;
            margin-right: 20px;

            @media screen and (max-width:992px) {
                flex-wrap: wrap;
                padding-bottom: 30px;
            }

            span {
                width: 70%;
                height: 2px;
                background-color: white;
                display: block;
             }
        }


        
        p {
            display: inline-block;
            color: white;
            max-width: 75%;
            font-weight: 300;
        }
    }

    //the container to handle the tiles
    .tile-container {
        display: flex;
        justify-content:space-between;
        flex-direction: row;

        @media screen and (max-width:992px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}


//anti margins for the container of the tiles

.anti-margins {
    margin-left: -20px;
    margin-right: -20px;
}
