

#contact-form {

    margin: 100px;

    //all the input boxes
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }


    //the gdpr tickbox
    .gdpr-container {
        padding-top: 40px;
        cursor: pointer;
        display: block;
    }

    #mapid { 
        height: 180px;
        width: 600px;
        height: 300px;
        display: inline-block;
    
    }
     
    #recaptcha {
        background-color: white;
        display: inline-block;
        width: 140px;
        height: 140px;
        text-align: center;
        border: 4mm ridge rgba(170, 50, 220, .6);
    }

}

.contact-container {
    width: 1600px;


}