
.contact-header {
    h1 {
        text-align: center;
        padding-top: 50px;

        @media screen and (max-width:992px) {
            font-size: 2rem;
        }
    }

    span{
        height: 2px;
        background-color: #1B1F22;
        display: block;
        width: 22%;
        margin-left: auto;
        margin-right: auto;
    }
}

#contact-form {
    background-color: white;
    padding: 40px;
    border: #1B1F22;
    border-width: 2px;
    border-style: solid;
    margin: 50px;

    @media screen and (max-width:992px) {
        width: 100%;
    }


    //all the input boxes
    input[type=text],input[type=email],input[type=number],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }


    //the gdpr tickbox
    .gdpr-container {
        padding-top: 40px;        
        cursor: pointer;
        display: inline-block;
        position: relative;

        @media screen and (max-width:992px) {
            display: block;
            text-align: right;
        }
    }

    #recaptcha {
        background-color: white;
        display: inline-block;
        width: 140px;
        height: 140px;
        text-align: center;
        border: 4mm solid rgb(255, 123, 0);
        margin-left: 55%;
        position: relative;
        top: -100px;

        @media screen and (max-width:992px) {
            display: block;
            top: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-top: 20px;
        }

    }

    #mapid { 
        width: 600px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width:992px) {
            width: 100%;
        }
    
    }

}

.contact-container {
    max-width: 1600px;

    @media screen and (max-width:768px) {
        width: 100%;
    }
}

//the funciton to signify the forms input is wrong

#bad-input {
    color:red;
}

#good-input {
    color: #04AA6D;
}

.hidden-default {
    display: none;
}